#hexGrid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  font-size: 15px;
  list-style-type: none;
  padding-bottom: 7.4%
}
.hex {
  position: relative;
  visibility:hidden;
  outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
  width: 24%; /* = 100 / 3 */
  margin: calc(0px + 5 * ((100vw - 320px) / (1440 - 320)));
}
.hex::after{
  content:'';
  display:block;
  padding-bottom: 86.602%;  /* =  100 / tan(60) * 1.5 */
}
.hex:nth-child(3n+4){ /* first hexagon of even rows */
   margin-left: 25%;  /* = width of .hex / 2  to indent even rows */
}
.hexIn{
  position: absolute;
  width:96%;
  padding-bottom: 110.851%; /* =  width / sin(60) */
  margin:0 2%;
  overflow: hidden;
  visibility: hidden;
  outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
  -webkit-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
      -ms-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
          transform: rotate3d(0,0,1,-60deg) skewY(30deg);
}
.hexIn * {
  position: absolute;
  visibility: visible;
  outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
}
.hexLink {
    display:block;
    width: 100%;
    height: 100%;
    text-align: center;
	 background-color: rgba(204, 204, 204, 0.308);
    color: #fff;
    overflow: hidden;
    -webkit-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
        -ms-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
            transform: skewY(-30deg) rotate3d(0,0,1,60deg);
}

.hexLink{
	display: flex;
	align-items: center;
	justify-content: center;
	color: rgb(49, 49, 49);
}

/*** HEX CONTENT **********************************************************************/
.hex img {
  left: -100%;
  right: -100%;
  width: 100%;
  /* height: 100%; */
  margin: 0 auto;
  -webkit-transform: rotate3d(0,0,0,0deg);
      -ms-transform: rotate3d(0,0,0,0deg);
          transform: rotate3d(0,0,0,0deg);
}

.hex h1{
  width: 100%;
  height: 100%;
  padding: 5%;
  box-sizing:border-box;
  background-color: #a65858;
  font-weight: 300;
  -webkit-transition:  -webkit-transform .2s ease-out, opacity .3s ease-out;
          transition:          transform .2s ease-out, opacity .3s ease-out;
  bottom: 0%;
  padding-top:50%;
  font-weight: 500;
  font-size: calc(10px + 20 * ((100vw - 320px) / (1440 - 320)));
  z-index: 1;
  -webkit-transform:translate3d(0,-100%,0);
      -ms-transform:translate3d(0,-100%,0);
          transform:translate3d(0,-100%,0);
}
.hex h1::after {
  content: '';
  position: absolute;
  bottom: 40%;
  left: 40%;
  width: 20%;
  text-align: center;
  border-bottom: 1px solid #fff;
}

/*** HOVER EFFECT  **********************************************************************/
.hexLink:hover h1,
.hexLink:focus h1{
  -webkit-transform:translate3d(0,0,0);
      -ms-transform:translate3d(0,0,0);
          transform:translate3d(0,0,0);
}