*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	border: none;
	outline: none;
	box-sizing: border-box;
	font-family: "Ubuntu", sans-serif;
}

// Переменные
$TextColorOne: #bfb6ae;
$MainColor: #a65858;
$BGColor: #efefef;
$BGColorDark: #403937;
$BGColorFooter: #262221;

// Повторяющиеся блоки
.container {
	max-width: 1180px;
	margin: 0 auto;
	height: 100%;

	@media (max-width: 1190px) {
		padding: 0 20px;
	}
}

.title {
	display: inline-block;
	color: $BGColorFooter;
	font-weight: 500;
	font-size: calc(20px + 16 * ((100vw - 320px) / (1440 - 320)));
	letter-spacing: 1px;
	position: relative;
	height: 46px;
	margin-bottom: calc(40px + 40 * ((100vw - 320px) / (1440 - 320)));

	&::before {
		content: "";
		position: absolute;
		top: calc(13px + 8.5 * ((100vw - 320px) / (1440 - 320)));
		left: calc(-65px - 60 * ((100vw - 320px) / (1440 - 320)));
		width: calc(50px + 50 * ((100vw - 320px) / (1440 - 320)));
		height: 3px;
		background-color: $MainColor;
	}

	&::after {
		content: "";
		position: absolute;
		top: calc(13px + 8.5 * ((100vw - 320px) / (1440 - 320)));
		right: calc(-65px - 60 * ((100vw - 320px) / (1440 - 320)));
		width: calc(50px + 50 * ((100vw - 320px) / (1440 - 320)));
		height: 3px;
		background-color: $MainColor;
	}
}

// Стилизация секций
.header {
	width: 100%;
	height: calc(50px + 30 * ((100vw - 320px) / (1440 - 320)));
	background-color: transparent;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 13;
	transition: all 0.2s;

	&__body {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	&__link {
		font-size: 18px;
		font-weight: 400;
		color: $TextColorOne;
		padding-bottom: 2px;
		transition: all 0.2s ease;

		&:hover {
			color: $MainColor;
			border-bottom: 1px solid $MainColor;
		}
	}

	&__link + &__link {
		margin-left: 28px;
	}

	&__burger {
		display: none;
		cursor: pointer;

		&.active::before {
			transform: rotate(45deg);
			top: 9px;
			background-color: $BGColorDark;
		}

		&.active::after {
			transform: rotate(-45deg);
			bottom: 9px;
			background-color: $BGColorDark;
		}

		&.active span {
			transform: scale(0);
			background-color: $BGColorDark;
		}
	}

	&.scrolled {
		background-color: $BGColorDark;
		height: calc(40px + 20 * ((100vw - 320px) / (1440 - 320)));
	}
}

// burger
@media (max-width: 767px) {
	body.lock {
		overflow: hidden;
	}
	.header__burger {
		display: block;
		position: relative;
		height: 20px;
		width: 30px;
		z-index: 4;
	}
	.header__burger::before,
	.header__burger::after {
		content: "";
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all 0.5s ease 0s;
	}
	.header__burger::before {
		top: 0;
	}
	.header__burger::after {
		bottom: 0;
	}
	.header__burger span {
		position: absolute;
		background-color: #fff;
		height: 2px;
		width: 100%;
		left: 0;
		top: 9px;
		transition: all 0.5s ease 0s;
	}
	.header__nav {
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: fixed;
		top: 0;
		right: -100%;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: $BGColor;
		padding: 70px 10px 20px 10px;
		transition: all 1s;
	}
	.header__nav.active {
		right: 0;
	}

	.header__link + .header__link {
		margin-left: 0;
	}

	.header__link {
		color: $BGColorFooter;
		font-size: 25px;
		margin: 0 0 40px 0;
	}
}
// /burger

.main {
	background-image: url("../img/bg.webp");
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	height: 100vh;
	min-height: 570px;
	z-index: 1;

	&__body {
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: relative;
	}

	&__title {
		color: #fff;
		font-size: calc(30px + 18 * ((100vw - 320px) / (1440 - 320)));
		font-weight: 700;
		letter-spacing: 1px;
		margin-bottom: 16px;
	}

	&__subtitle {
		color: $TextColorOne;
		font-size: calc(20px + 4 * ((100vw - 320px) / (1440 - 320)));
		font-weight: 500;
		letter-spacing: 1px;
		margin-bottom: 50px;
	}

	&__buttons {
		display: flex;

		@media (max-width: 425px) {
			flex-direction: column;
		}
	}

	&__button {
		width: 243px;
		height: 70px;
		border-radius: 50px;
		border: 2px solid $MainColor;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 18px;
		font-weight: 400;
		letter-spacing: 1px;
		color: #fff;
		transition: all 0.2s;

		@media (max-width: 425px) {
			width: 100%;
		}
	}

	&__contact-button {
		margin-right: 39px;

		&:hover {
			background-color: $MainColor;
		}

		@media (max-width: 425px) {
			margin: 0 0 15px 0;
		}
	}

	&__portfolio-button {
		background-color: $MainColor;
		overflow: hidden;
		position: relative;

		span {
			z-index: 10;
		}

		&:after {
			background: #fff;
			content: "";
			height: 155px;
			left: -75px;
			opacity: 0.2;
			position: absolute;
			top: -50px;
			transform: rotate(35deg);
			transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
			width: 50px;
			z-index: 5;
		}
		
		&:hover {
			&:after {
				left: 120%;
				transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
			}	
		}
	}

	&__scroll-down {
		position: absolute;
		bottom: 55px;
		left: 50%;
		width: 40px;
		height: 40px;
		opacity: 0.5;
		transition: opacity 0.2s;
		animation: scrollDown 1s ease 1s infinite alternate;
		margin-left: -20px;

		&:hover {
			opacity: 1;
		}

		img {
			width: 100%;
			height: 100%;
		}
	}
}

@keyframes scrollDown {
	0% {
		bottom: 55px;
	}

	100% {
		bottom: 75px;
	}
}

.works {
	background-color: #efefef;
	padding: 62px 0 22px 0;

	&__body {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__list {
		width: 100%;
		display: flex;
		justify-content: center;
		margin-bottom: 63px;

		@media (max-width: 500px) {
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
	}

	&__project {
		width: calc(200px + 150 * ((100vw - 768px) / (1440 - 768)));
		height: calc(200px + 150 * ((100vw - 768px) / (1440 - 768)));
		background-position: top;
		background-repeat: no-repeat;
		background-size: cover;

		&:nth-child(1) {
			background-image: url("../img/project6.webp");
		}
		&:nth-child(2) {
			background-image: url("../img/jelsey1967.github.io_Zooov_.webp");
		}
		&:nth-child(3) {
			background-image: url("../img/jelsey1967.github.io_LaslesVPN_.webp");
		}

		@media (max-width: 500px) {
			width: 300px;
			height: 300px;
		}

		&:not(:last-child) {
			margin: 0 25px 0 0;

			@media (max-width: 500px) {
				margin: 0 0 20px 0;
			}
		}
	}

	&__more {
		color: $BGColorDark;
		font-size: 18px;
		font-weight: 400;
		letter-spacing: 1px;
		transition: border 0.2s;
		padding-bottom: 2px;
		border-bottom: 1px solid transparent;

		&:hover {
			border-bottom: 1px solid $BGColorDark;
		}
	}
}

.skills {
	padding: 62px 0 70px 0;

	&__body {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
	}

	&__title {
		align-self: center;
	}
}

.slider {
	width: 100%;
	height: calc(200px + 100 * ((100vw - 320px) / (1440 - 320)));
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__prev,
	&__next {
		width: calc(20px + 30 * ((100vw - 320px) / (1440 - 320)));
		height: calc(20px + 30 * ((100vw - 320px) / (1440 - 320)));
		cursor: pointer;
	}

	&__prev {
		transform: rotate(-180deg);
	}

	&__body {
		width: 60%;
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media (max-width: 500px) {
			width: 100%;
			justify-content: center;
		}
	}

	&__prev-slide,
	&__next-slide {
		height: calc(50px + 100 * ((100vw - 320px) / (1440 - 320)));
		width: calc(50px + 100 * ((100vw - 320px) / (1440 - 320)));
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		img {
			width: calc(45px + 100 * ((100vw - 320px) / (1440 - 320)));
			height: calc(45px + 100 * ((100vw - 320px) / (1440 - 320)));
		}

		p {
			color: $BGColorDark;
			font-size: 20px;
			font-weight: 400;
			margin-top: 15px;
		}
	}

	&__main-slide {
		height: calc(100px + 150 * ((100vw - 320px) / (1440 - 320)));
		width: calc(100px + 150 * ((100vw - 320px) / (1440 - 320)));
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 0 10px;

		img {
			width: calc(80px + 120 * ((100vw - 320px) / (1440 - 320)));
			height: calc(80px + 120 * ((100vw - 320px) / (1440 - 320)));
		}

		p {
			color: $BGColorDark;
			font-size: 20px;
			font-weight: 400;
			margin-top: 15px;
		}
	}
}

.footer {
	&__body {
		display: flex;
		flex-direction: column;
	}

	&__copyright {
		background-color: $BGColorFooter;
		width: 100%;
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: $TextColorOne;
		font-size: 16px;
		font-weight: 300;
		letter-spacing: 1px;
	}
}

.contact {
	background-color: $BGColorDark;
	padding-top: calc(50px + 13 * ((100vw - 320px) / (1440 - 320)));
	padding-bottom: calc(50px + 53 * ((100vw - 320px) / (1440 - 320)));

	&__body {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__title {
		color: #fff;
	}

	&__list {
		display: flex;
		justify-content: space-between;

		@media (max-width: 730px) {
			flex-direction: column;
		}

		@media (max-width: 500px) {
			align-self: flex-start;
		}
	}

	&__link {
		position: relative;
		width: 40px;
		height: 40px;
		transition: filter 0.2s;
		cursor: pointer;

		img {
			width: 100%;
			height: 100%;
			border-radius: 50%;
			background-color: $BGColorDark;
			position: relative;
			z-index: 2;
		}

		&:hover img {
			filter: brightness(120%);
		}
	}

	&__link + &__link {
		margin-left: calc(30px + 32 * ((100vw - 320px) / (1440 - 320)));

		@media (max-width: 730px) {
			margin: 20px 0 0 0;
		}
	}

	.gmail {
		content: "jelsey1967@gmail.com";
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		top: 0;
		left: 0;
		width: 40px;
		height: 40px;
		padding-right: 10px;
		border-radius: 50px;
		z-index: 1;
		background-color: $MainColor;
		color: $BGColor;
		overflow: hidden;
		transition: width 0.2s;

		&-active {
			width: 300px;
		}
	}
}
