*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	border: none;
	outline: none;
	box-sizing: border-box;
	font-family: "Ubuntu", sans-serif;
}

// Переменные
$TextColorOne: #bfb6ae;
$MainColor: #a65858;
$BGColor: #efefef;
$BGColorDark: #403937;
$BGColorFooter: #262221;

// Повторяющиеся блоки
.container {
	max-width: 1180px;
	margin: 0 auto;
	height: 100%;

	@media (max-width: 1100px) {
		padding: 0 20px;
	}
}

.title {
	display: inline-block;
	color: $BGColorFooter;
	font-weight: 500;
	font-size: 36px;
	letter-spacing: 1px;
	position: relative;
	height: 46px;
	margin-bottom: 80px;

	&::before {
		content: "";
		position: absolute;
		top: 21.5px;
		left: -125px;
		width: 100px;
		height: 3px;
		background-color: $MainColor;
	}

	&::after {
		content: "";
		position: absolute;
		top: 21.5px;
		right: -125px;
		width: 100px;
		height: 3px;
		background-color: $MainColor;
	}
}

// Стилизация секций
.header {
	width: 100%;
	height: 84px;
	background-color: transparent;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;

	&__body {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	// &__nav {
	// }

	&__link {
		font-size: 18px;
		font-weight: 400;
		color: $TextColorOne;
		padding-bottom: 2px;
		transition: all 0.2s ease;

		&:hover {
			color: $MainColor;
			border-bottom: 1px solid $MainColor;
		}
	}

	&__link + &__link {
		margin-left: 28px;
	}
}

.main {
	background-image: url(/img/bg.jpg);
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	height: 100vh;
	z-index: 1;

	&__body {
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: relative;
	}

	&__title {
		color: #fff;
		font-size: 48px;
		font-weight: 700;
		letter-spacing: 1px;
		margin-bottom: 16px;
	}

	&__subtitle {
		color: $TextColorOne;
		font-size: 24px;
		font-weight: 500;
		letter-spacing: 1px;
		margin-bottom: 50px;
	}

	&__buttons {
		display: flex;
	}

	&__button {
		width: 243px;
		height: 70px;
		border-radius: 50px;
		border: 2px solid $MainColor;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 18px;
		font-weight: 400;
		letter-spacing: 1px;
		color: #fff;
		transition: all 0.2s;
	}

	&__contact-button {
		margin-right: 39px;

		&:hover {
			background-color: $MainColor;
		}
	}

	&__portfolio-button {
		background-color: $MainColor;

		&:hover {
			background-color: #693333;
			border: 2px solid #693333;
		}
	}

	&__scroll-down {
		position: absolute;
		bottom: 50px;
		left: 45%;
		width: 40px;
		height: 40px;
		opacity: 0.5;
		transition: opacity 0.2s;

		&:hover {
			opacity: 1;
		}

		img {
			width: 100%;
			height: 100%;
		}
	}
}

.works {
	background-color: #efefef;
	padding: 62px 0 22px 0;

	&__body {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__list {
		width: 100%;
		display: flex;
		justify-content: space-between;
		margin-bottom: 63px;
	}

	&__project {
		width: 430px;
		height: 430px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;

		&:nth-child(1) {
			background-image: url(/img/project1.png);
		}
		&:nth-child(2) {
			background-image: url(/img/project2.png);
		}
		&:nth-child(3) {
			background-image: url(/img/project3.png);
		}
	}

	&__more {
		color: $BGColorDark;
		font-size: 18px;
		font-weight: 400;
		letter-spacing: 1px;
		transition: border 0.2s;
		padding-bottom: 2px;
		border-bottom: 1px solid transparent;

		&:hover{
			border-bottom: 1px solid $BGColorDark;
		}
	}
}

.skills {
	height: 100vh;

	&__body {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__title {
		align-self: center;
	}

	&__image {
		width: 300px;
		height: 394px;
		background-color: $MainColor;
		position: relative;
		z-index: 1;

		img {
			position: absolute;
			bottom: 35px;
			left: 35px;
			width: 300px;
			height: 394px;
		}
	}

	&__info {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__progress{
		background-color: red;
	}

	&__list {
		height: 400px;
		width: 400px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		justify-content: center;
		align-items: center;
	}

	&__item{
		width: 60px;
		height: 60px;
		filter: grayscale(100%);
		transition: filter 0.2s;

		&:hover{
			filter: grayscale(0%);
		}
	}
}

.footer {
	&__body {
		display: flex;
		flex-direction: column;
	}

	&__copyright {
		background-color: $BGColorFooter;
		width: 100%;
		height: 70px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: $TextColorOne;
		font-size: 16px;
		font-weight: 300;
		letter-spacing: 1px;
	}
}

.contact {
	background-color: $BGColorDark;
	padding: 63px 0 103px 0;

	&__body {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__title {
		color: #fff;
	}

	&__link {
		width: 40px;
		height: 40px;

		img {
			width: 40px;
			height: 40px;
			transition: filter 0.2s;
		}

		&:hover img {
			filter: brightness(120%);
		}
	}

	&__link + &__link {
		margin-left: 62px;
	}
}