*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	border: none;
	outline: none;
	box-sizing: border-box;
	font-family: "Ubuntu", sans-serif;
}

// Переменные
$TextColorOne: #bfb6ae;
$MainColor: #a65858;
$BGColor: #efefef;
$BGColorDark: #403937;
$BGColorFooter: #262221;

// Повторяющиеся блоки
.container {
	max-width: 1180px;
	margin: 0 auto;
	height: 100%;

	@media (max-width: 1190px) {
		padding: 0 20px;
	}
}

.title {
	display: inline-block;
	color: $BGColorFooter;
	font-weight: 500;
	font-size: calc(20px + 16 * ((100vw - 320px) / (1440 - 320)));
	letter-spacing: 1px;
	position: relative;
	height: 46px;
	margin-bottom: calc(40px + 40 * ((100vw - 320px) / (1440 - 320)));

	&::before {
		content: "";
		position: absolute;
		top: calc(13px + 8.5 * ((100vw - 320px) / (1440 - 320)));
		left: calc(-65px - 60 * ((100vw - 320px) / (1440 - 320)));
		width: calc(50px + 50 * ((100vw - 320px) / (1440 - 320)));
		height: 3px;
		background-color: $MainColor;
	}

	&::after {
		content: "";
		position: absolute;
		top: calc(13px + 8.5 * ((100vw - 320px) / (1440 - 320)));
		right: calc(-65px - 60 * ((100vw - 320px) / (1440 - 320)));
		width: calc(50px + 50 * ((100vw - 320px) / (1440 - 320)));
		height: 3px;
		background-color: $MainColor;
	}
}

// Стилизация секций
.header {
	width: 100%;
	height: 84px;
	background-color: transparent;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;

	&__body {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	&__link {
		font-size: 18px;
		font-weight: 400;
		color: $TextColorOne;
		padding-bottom: 2px;
		transition: all 0.2s ease;

		&:hover {
			color: $MainColor;
			border-bottom: 1px solid $MainColor;
		}
	}

	&__link + &__link {
		margin-left: 28px;
	}

	&__burger {
		display: none;
		cursor: pointer;

		&.active::before {
			transform: rotate(45deg);
			top: 9px;
			background-color: $BGColorDark;
		}

		&.active::after {
			transform: rotate(-45deg);
			bottom: 9px;
			background-color: $BGColorDark;
		}

		&.active span {
			transform: scale(0);
			background-color: $BGColorDark;
		}
	}
}

// burger
@media (max-width: 767px) {
	body.lock {
		overflow: hidden;
	}
	.header__burger {
		display: block;
		position: relative;
		height: 20px;
		width: 30px;
		z-index: 4;
	}
	.header__burger::before,
	.header__burger::after {
		content: "";
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all 0.5s ease 0s;
	}
	.header__burger::before {
		top: 0;
	}
	.header__burger::after {
		bottom: 0;
	}
	.header__burger span {
		position: absolute;
		background-color: #fff;
		height: 2px;
		width: 100%;
		left: 0;
		top: 9px;
		transition: all 0.5s ease 0s;
	}
	.header__nav {
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: fixed;
		top: 0;
		right: -100%;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: $BGColor;
		padding: 70px 10px 20px 10px;
		transition: all 1.2s;
	}
	.header__nav.active {
		right: 0;
	}

	.header__link + .header__link {
		margin-left: 0;
	}

	.header__link {
		color: $BGColorFooter;
		font-size: 25px;
		margin: 0 0 40px 0;
	}
}
// /burger

.main {
	background-image: url(/img/bg.jpg);
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	height: 100vh;
	z-index: 1;

	&__body {
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: relative;
	}

	&__title {
		color: #fff;
		font-size: calc(30px + 18 * ((100vw - 320px) / (1440 - 320)));
		font-weight: 700;
		letter-spacing: 1px;
		margin-bottom: 16px;
	}

	&__subtitle {
		color: $TextColorOne;
		font-size: calc(20px + 4 * ((100vw - 320px) / (1440 - 320)));
		font-weight: 500;
		letter-spacing: 1px;
		margin-bottom: 50px;
	}

	&__buttons {
		display: flex;

		@media (max-width: 425px){
			flex-direction: column;

		}
	}

	&__button {
		width: 243px;
		height: 70px;
		border-radius: 50px;
		border: 2px solid $MainColor;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 18px;
		font-weight: 400;
		letter-spacing: 1px;
		color: #fff;
		transition: all 0.2s;

		@media (max-width: 425px){
			width: 100%;
		}
	}

	&__contact-button {
		margin-right: 39px;

		&:hover {
			background-color: $MainColor;
		}

		@media (max-width: 425px){
			margin: 0 0 15px 0;	
		}
	}

	&__portfolio-button {
		background-color: $MainColor;
	}

	&__scroll-down {
		position: absolute;
		bottom: 50px;
		left: 45%;
		width: 40px;
		height: 40px;
		opacity: 0.5;
		transition: opacity 0.2s;

		&:hover {
			opacity: 1;
		}

		img {
			width: 100%;
			height: 100%;
		}
	}
}

.works {
	background-color: #efefef;
	padding: 62px 0 22px 0;

	&__body {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__list {
		width: 100%;
		display: flex;
		justify-content: space-between;
		margin-bottom: 63px;

		@media (max-width: 500px) {
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
	}

	&__project {
		width: calc(230px + 200 * ((100vw - 768px) / (1440 - 768)));
		height: calc(230px + 200 * ((100vw - 768px) / (1440 - 768)));
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;

		&:nth-child(1) {
			background-image: url(/img/project1.png);
		}
		&:nth-child(2) {
			background-image: url(/img/project2.png);
		}
		&:nth-child(3) {
			background-image: url(/img/project3.png);
		}

		@media (max-width: 500px) {
			width: 300px;
			height: 300px;

			&:not(:last-child){
				margin: 0 0 20px 0;
			}
		}
	}

	&__more {
		color: $BGColorDark;
		font-size: 18px;
		font-weight: 400;
		letter-spacing: 1px;
		transition: border 0.2s;
		padding-bottom: 2px;
		border-bottom: 1px solid transparent;

		&:hover {
			border-bottom: 1px solid $BGColorDark;
		}
	}
}

.skills {
	height: 100vh;
	padding: 62px 0 22px 0;

	&__body {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
	}

	&__title {
		align-self: center;
	}
}

.slider {
	width: 100%;
	height: 300px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__prev,
	&__next {
		width: calc(20px + 30 * ((100vw - 320px) / (1440 - 320)));
		height: calc(20px + 30 * ((100vw - 320px) / (1440 - 320)));
		cursor: pointer;
	}

	&__prev {
		transform: rotate(-180deg);
	}

	&__body {
		width: 60%;
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__prev-slide,
	&__next-slide {
		height: calc(50px + 100 * ((100vw - 320px) / (1440 - 320)));
		width: calc(50px + 100 * ((100vw - 320px) / (1440 - 320)));
		// border-radius: 50%;
	}

	&__main-slide {
		height: calc(100px + 150 * ((100vw - 320px) / (1440 - 320)));
		width: calc(100px + 150 * ((100vw - 320px) / (1440 - 320)));
		// border-radius: 50%;
	}
}

.footer {
	&__body {
		display: flex;
		flex-direction: column;
	}

	&__copyright {
		background-color: $BGColorFooter;
		width: 100%;
		height: 70px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: $TextColorOne;
		font-size: 16px;
		font-weight: 300;
		letter-spacing: 1px;
	}
}

.contact {
	background-color: $BGColorDark;
	padding: 63px 0 103px 0;

	&__body {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__title {
		color: #fff;
	}

	&__link {
		width: 40px;
		height: 40px;

		img {
			width: 40px;
			height: 40px;
			transition: filter 0.2s;
		}

		&:hover img {
			filter: brightness(120%);
		}
	}

	&__link + &__link {
		margin-left: calc(30px + 32 * ((100vw - 320px) / (1440 - 320)));
	}
}
